<!DOCTYPE HTML>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/layout"
	  xmlns:th="http://www.thymeleaf.org">
	<head>
	    <title>Add quote</title>
	</head>
	<body>
	
	  <div layout:fragment="content">
		<form action="#" th:action="@{/doAddQuote}" th:object="${quote}" method="post">
			<table border="1">
				<tr>
					<td colspan="3" th:if="${existErrors}" th:text="${errorMsg}" style="color:red" />
				</tr>
				<tr>
					<td>Customer Name: </td>
					<td><input type="text" th:field="*{customerName}" />
					<td th:if="${#fields.hasErrors('customerName')}" th:errors="*{customerName}" style="color:red" />
				</tr>
				<tr>
					<td>Customer Fiscal Number: </td>
					<td><input type="text" th:field="*{customerFiscalNumber}" />
					<td th:if="${#fields.hasErrors('customerFiscalNumber')}" th:errors="*{customerFiscalNumber}" style="color:red" />
				</tr>
				
				<tr>
					<td colspan="3">
						<table>
							<tr>
								<td>Product</td>
								<td>Quantity</td>
							</tr>
							<tr th:each="product : quotes">
								<td><span th:text="${product.product}"></span></td>
								<td><span th:text="${product.quantity}"></span></td>
							</tr>
						</table>
					</td>
				</tr>
				
				<tr>
					<td colspan="3">
						<table>
							<tr>
								<td>Product</td>
								<td>Quantity</td>
							</tr>
							<tr>
								<td>
									<select th:field="*{detailProductName}">
									    <option th:each="product : ${productsList}"  th:value="${product.name}" th:text="${product.name}" />
									</select>
								</td>
								<td>
									<td><input type="text" th:field="*{detailProductQuantity}" />
								</td>
							</tr>
							<tr>
								<td colspan="2"><input type="submit" value="Save row"></td>
							</tr>
						</table>
					</td>
				</tr>
				
				<tr>
					<td colspan="3">
						<input type="reset" value="Reset">
					    <input type="submit" value="Save">
					</td>
				</tr>
			</table>
		</form>
	  </div>
	</body>
</html>