<!DOCTYPE HTML>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/layout"
	  xmlns:th="http://www.thymeleaf.org">
	<head>
	    <title>Delete quote</title>
	</head>
	<body>
	
	  <div layout:fragment="content">
		<form action="#" th:action="@{/doDeleteQuote}" th:object="${quote}" method="post">
			<input type="hidden" th:field="*{idQuote}">
			<input type="hidden" th:field="*{customerName}">
			<input type="hidden" th:field="*{customerFiscalNumber}">
			<div>Are you sure that you want to delete the quote: <span th:text="${quote.idQuote}"></span></div>
			<table>
				<tr>
					<td><button type="submit" name="action" value="yes">Yes</button></td>
					<td><button type="submit" name="action" value="no">No</button></td>
				</tr>
			</table>
		</form>
	  </div>
	</body>
</html>