<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/layout">

<head>
	<title>Layout</title>
</head>

<body>
  <div layout:fragment="content">
	<div>
		<div><a href="onAddProduct">Add Product</a></div>
		<div height="100px"></div>
		<table border="1" widht="400">
			<tr>
				<td width="100"></td>
				<td width="100">name</td>
				<td width="100">price</td>
			</tr>
			<tr>
				<td width="100"><a href="onEditProduct">Edit Product</a></td>
				<td width="100">xxx</td>
				<td width="100">xxx</td>
			</tr>
		</table>
  	</div>
  </div>
</body>
</html>